<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <img class="image-fluid w-12 h-12 rounded-full overflow-hidden group-hover:animate-spin" src="/logo.jpg">
        <span class="text-2xl font-semibold uppercase px-4">{{ .Site.Title }}</span>
      </a>

      <p class="font-semibold">
        Glasgow Environmental Monitoring of Indoor and Outdoor Air, an <a href="https://iclei-europe.org"
          style="text-decoration: underline;">ICLEI
          Europe</a> Action Fund 2.0 Project.
      </p>

      <p>A collaboration between the <a href="https://www.strath.ac.uk/" style="text-decoration: underline;">University
          of
          Strathclyde</a>, <a href="https://www.glasgow.gov.uk/" style="text-decoration: underline;">Glasgow City
          Council</a>, <a href="https://www.glasgowsciencecentre.org/" style="text-decoration: underline;">Glasgow
          Science Centre</a> and
        <a href="https://smartstems.org/" style="text-decoration: underline;">SmartSTEMs</a>.
      </p>

    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

      {{ partial "content/social-media.html" . }}

    </div>

  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
      <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">

    <p class="text-sm">Copyright © {{ now.Year }}. All rights reserved. <a href="https://insertapps.com/en/"
        target="_blank" rel="noopener">Insertapps.com</a></p>

  </div>

</div>