<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
	<div class="flex items-center">
		<div class="flex items-center">
			<img class="image-fluid w-12 h-12 rounded-full overflow-hidden" src={{ "logo.jpg" | absURL }}>
			<div class="relative text-xl px-4 font-bold uppercase">
				<h1><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto"
						href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			</div>
		</div>
	</div>
	{{- partial "menu.html" (dict "menuID" "main" "page" .) -}}

	<!-- {{- partial "search.html" . -}} -->
</div>